:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;
}

.navbar-brand span {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link {
    font-family: 'Inter', sans-serif;
}

.nav-link:hover {
    color: #2895F2;
}

.nav-link:visited {
    color: #0071CC;
}

.nav-link:active {
    color: #83C6FF;
}

footer {
    background-color: #003366;
    color: white;
    padding-top: 2rem;
    margin-top: 5rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10%;
}

.footer-section {
    max-width: 50%;
}

.footer-section h2,
.footer-section h3 {
    margin-top: 0;
}

.footer-section p {
    line-height: 1.6;
}

.footer-section a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #002244;
}


.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem solid #00316E;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }

    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem solid #00316E;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #00316E
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #00316E;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}



.custom-card {
    width: 795px;
    height: 189px;
    border-radius: 8px;
    background: #e7eaee;
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    transition: height 0.3s ease;
}

.custom-card.expanded {
    height: 403px;
}

.thumbnail-img {
    width: 240px;
    height: 189px;
    object-fit: fill;
    border-radius: 4px;
}

.pencalonan-presiden {
    font-family: 'Source Sans Pro', var(--default-font-family);
    font-size: 41px;
    font-weight: 600;
    line-height: 48px;
    color: #333333;
}

.date-text {
    font-family: 'Lato', var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: #333333;
    opacity: 0.6;
}

.additional-content {
    display: none;
    overflow: hidden;
    height: 214px;
    padding: 10px;
}

.custom-card.expanded .additional-content {
    display: flex;
}

.map-img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.icon-explanation {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.icon {
    margin-right: 10px;
}


.additional-section {
    display: none;
    padding: 15px;
    background: #ffffff;
    border-top: 1px solid #e7eaee;
    box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.1);
}


.add-reminder-btn {
    width: 146px;
    height: 56px;
    background-color: #38a1ff;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 28;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-reminder-btn:hover {
    background-color: #2895f2;
}

.add-reminder-btn:active {
    background-color: #83c6ff;
}


.map-img {
    width: 186px;
    height: 186px;
    object-fit: cover;
    border-radius: 0px;
}

.icon-explanation {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    width: 24px;
    height: 24px;
    background: unset;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #858c94;
}

.explanation {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 300px;
    height: 24px;
    display: flex;
    align-items: center;
}


.featured-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #38a1ff;
    border: 8px solid #83c6ff;
    border-radius: 28px;
    margin-bottom: 20px;
}

.featured-icon .fa-check {
    color: #fff;
    font-size: 24px;
}

.text-supporting .text {
    color: #0f1728;
    font-family: 'Source Sans Pro', var(--default-font-family);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 16px;
}

.modal-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}


.custom-btn-primary:hover {
    background-color: #2895f2;

}

.custom-btn-primary:active {
    background-color: #83c6ff;
}


.custom-btn-secondary:hover {
    background-color: #f0f0f0;
}

.custom-btn-primary:active {
    background-color: #e7eaee;
}


.custom-btn-primary:disabled {
    background-color: #b0d4ff;
    border-color: #b0d4ff;
}

.emoji-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.emoji-label {
    text-align: center;
}

.emoji {
    font-size: 24px;
    cursor: pointer;
}

label {
    display: block;
}


textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

#submitFeedback {
    padding: 10px 20px;
    cursor: pointer;
}


.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    /* Pastikan z-index cukup tinggi */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}


.featured-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #38a1ff;
    border: 8px solid #83c6ff;
    border-radius: 28px;
    margin-bottom: 20px;
}

.featured-icon .fa-check {
    color: #fff;
    font-size: 24px;
}

.text-supporting .text {
    color: #0f1728;
    font-family: 'Source Sans Pro', var(--default-font-family);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 16px;
}

.modal-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

#feedbackBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #38a1ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#feedbackBtn:hover {
    background-color: #2895f2;
}

#feedbackBtn:active {
    background-color: #83c6ff;
}